html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* Asegúrate de que el body cubra toda la altura de la ventana */
    color: white;
}


.container {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

.btn {
    margin-right: 5px;
}

h1, h2, label, button, .form-label {
    filter: drop-shadow( 1px 1px 1px black ) drop-shadow( 1px 1px 1px black );
}

button {
   width: 80px;
}
